<h1>Remove Duplication</h1>

<strong>Task : </strong><em>Identify and Remove duplicate values in a dataset</em>

<h2>Import library</h2>

In [13]:
import pandas as pd

<h2>Import data</h2>

In [14]:
df = pd.read_csv('sample_submission.csv')

In [24]:
df.head(3)

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570

In [15]:
df.shape

(1459, 2)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         1459 non-null   int64
 1   SalePrice  1459 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 22.9 KB

<h1>Identifying duplicate values</h1>

In [19]:
duplicate = df.duplicated()

duplicate

In [23]:
#NO duplicate values

<h1>Removing duplicate values</h1>

In [25]:
df.drop_duplicates(inplace = True)

In [26]:
df.shape

(1459, 2)

<em>As shape of df ie imported dataset remain same after removing duplicate values , it means that no duplicate values were present</em>

<strong><em>Thus, duplicate data is identified and removed succesfully from the dataset</em></strong>